#!/bin/sh
# #################################
# Shell Exports
# #################################

# Default editor
export EDITOR="atom"

# The env
export ENV_HOME="$HOME/.env"

# Brew
PATH=$(brew --prefix)/bin:$(brew --prefix)/sbin:$PATH

# Python
# PATH=$(brew --prefix python)/libexec/bin

# GNU PGP
export GPG_TTY=$(tty)
export NODE_ENV="development"

# NVM
export NVM_DIR="$HOME/.nvm"

# rbenv
PATH=$HOME/.rbenv/bin:$PATH

# Go
export GOROOT=$(brew --prefix go)/libexec
export GOPATH=$HOME/.go
PATH=$GOROOT/bin:$GOPATH/bin:$PATH

# Android
export ANDROID_HOME="/usr/local/share/android-sdk"
export ANDROID_SDK_ROOT=$ANDROID_HOME
export ANDROID_SDK=$ANDROID_HOME
export ANDROID_HVPROTO=ddm
PATH=$ANDROID_HOME/platform-tools/:$PATH

# Make the ./scripts accessible
export PATH=$ENV_HOME/scripts:$PATH