[alias]
	i = init
	s = status
	p = pull
	pu = push
	a = add
	c = commit -am
	cm = commit -m
	b = branch

	save = "!sh -c 'git stash && git stash apply'"

	ra = remote add
	po = push origin
	co = checkout

	pom = push origin main
	puom = push -u origin main

  ignore = !git update-index --assume-unchanged
  unignore = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]

  rmignored = ls-files --ignored --exclude-standard -z | xargs -0 git rm --cached

[user]
	name = HR
	email = git@HabibRehman.com
	signingkey = 42F14DEA0E510C11D98C184F248D9ABD1E365247

[push]
	default = simple

[core]
	excludesfile = /Users/habib/.gitignore_global
	ignorecase = false

[url "https://github.com/"]
	insteadOf = gh:

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[gpg]
	program = gpg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = $HOME/.stCommitMsg
[init]
	defaultBranch = main
